[submodule "src/validation/mam_x_validation"]
	path = src/validation/mam_x_validation
	url = git@github.com:eagles-project/mam_x_validation.git
[submodule "ext/skywalker"]
	path = ext/skywalker
	url = git@github.com:eagles-project/skywalker
