[submodule "src/validation/mam_x_validation"]
	path = src/validation/mam_x_validation
	url = https://github.com/eagles-project/mam_x_validation.git
[submodule "ext/skywalker"]
	path = ext/skywalker
	url = https://github.com/eagles-project/skywalker
