name: clang-format Check
on:
  workflow_call
jobs:
  formatting-check:
    name: C++ code formatting check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: 'src'
        extensions: 'hpp,cpp'
        clangFormatVersion: 14
